.equalizer
	position absolute
	bottom 45px
	left 30%
	background-color player-background-color
	box-shadow 0 2px 4px rgba(0,0,0,.1)
	border solid 1px player-border-color
	background-image player-background-image
	padding 5px
	opacity 0
	transition .1s opacity linear
	z-index 2
	pointer-events none

	&_state_active
		opacity 1
		pointer-events auto

	&__list
		display inline-block
		vertical-align middle

	&__presets
		display inline-block
		vertical-align middle
		margin-left 10px

	&__item
		display inline-block
		position relative

		&:hover:before
			position absolute
			width 45px
			background-color player-theme-color
			content attr(data-frequency)
			padding 3px 0px
			top -30px
			left -13px
			color #fff
			font-size 12px
			border-radius 4px
			text-align center
			font-weight 600

	&__input
		-webkit-appearance slider-vertical
		width 15px

