.playlist
	background-color player-background-color
	background-image player-background-image
	border-left: 1px solid player-border-color
	position relative
	overflow-y auto

	&__item
		display flex
		position relative
		padding 10px
		align-items center
		border-bottom 1px solid player-border-color
		cursor pointer

		&:last-child
			border none

		&:hover,
		&_state_active
			background-color player-active-item-color

	&__note
		display none
		position absolute
		left 50%
		top 50%
		transform translate(-50%, -50%)
		font-size 20px

	&_empty
		.playlist__note
			display block

