.player
	display flex
	flex-direction column
	height 100%

	&__bar
		background-color #fff
		border-top 1px solid #ccc
		background-image linear-gradient(to bottom, #efefef, #f7f7f7)
		display flex
		position relative

	&__controls,
	&__time
		flex 1

	&__inner
		flex 1
		display flex

	&__playlist
		flex 1

	&__cover
		display block
		width 500px
		height 500px

		&-wrap
			display flex
			justify-content center
			align-items center
			flex 1
			background-color #fff





