.player
	display flex
	flex-direction column
	height 100%

	&__bar
		background-color player-background-color
		border-top 1px solid player-border-color
		background-image layer-background-image
		display flex
		position relative

	&__controls
		flex 3
	&__track
		flex 2
		display flex
		flex-direction column
		justify-content center
		position relative
		left 40px
	&__time
		flex 1

	&__inner
		flex 1
		display flex
		min-height 0 // fix for mozilla bug https://bugzilla.mozilla.org/show_bug.cgi?id=1043520#c0

	&__playlist
		flex 1

	&__cover
		display block
		width 500px
		height 500px

		&-wrap
			display flex
			justify-content center
			align-items center
			overflow hidden
			flex 1
			background-color player-cover-color





