.player
	display flex
	flex-direction column
	height 100%

	&__bar
		background-color #fff
		border-top 1px solid #ccc
		background-image linear-gradient(to bottom, #efefef, #f7f7f7)
		display flex
		position relative

	&__controls,
	&__time
		flex: 1

	&__inner
		flex: 1
		display flex

	&__playlist
		flex: 1

	&__cover
		flex: 1
		text-align center
		background-color #fff
		border-right: 1px solid #ccc
		background #fff url(/assets/images/default.png) center no-repeat
		background-size 80%




