.track
	&__cover-wrap
		margin-right: 20px

	&__cover
		display block
		width 80px
		height 80px

	&__title
		display block
		margin-bottom 2px
		font-size 20px
		text-shadow 1px 1px 1px rgba(0,0,0,.3)

	&__artist
		display block
		font-size 18px
		color track-artist-color

	&__btn
		position absolute
		cursor pointer

		&:hover
			color player-theme-color

		&_type_remove
			top 10px
			right 10px
			border 2px solid
			border-radius 50%
			font-size 25px
			width 30px
			height 30px
			text-align center
			line-height 23px
			color player-icon-color

	&_size_small
		.track__title
			font-size 18px
		.track__artist
			font-size 16px

