.track
	&__cover-wrap
		margin-right: 20px

	&__cover
		display block
		width 80px
		height 80px

	&__title
		display block
		margin-bottom 2px
		font-size 20px
		text-shadow 1px 1px 1px rgba(0,0,0,.3)

	&__artist
		display block
		font-size 18px
		color #777
