.waveform
	display none
	position relative
	background-color player-background-color
	background-image player-background-image
	border-top 1px solid player-border-color
	cursor pointer

	&_state_active
		display block

	&__loader
		display none
		position absolute
		top 50%
		left 50%
		transform translate(-50%,-50%)
		width 100px
		height 100px

		&_state_active
			display block
