player-theme-color = #3cd2ca
player-icon-color = #666
player-background-image = linear-gradient(to bottom, #efefef, #f7f7f7)
player-background-color = #fff
player-border-color = #ccc
player-cover-color = #fff
player-active-item-color = rgba(0,0,0,.1)
equalizer-preset-color = #bfbfbf
equalizer-active-preset-color = #3cd2ce
track-artist-color = #777
